img {
  display: block;
}

main div {
  margin-top: 16px;
  height: 50vh;
  max-height: 50vh;
  min-height: 50vh;
  background: no-repeat;
  display: inline-block;
  white-space: normal;
  background-position: center;
  cursor: pointer;
}
